<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCMMyV29txWY9TYjsZJqx2uSR5wqNgrhsY</string>
	<key>GCM_SENDER_ID</key>
	<string>1053554138271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gbnam.neulbom</string>
	<key>PROJECT_ID</key>
	<string>hoseo-neulbom</string>
	<key>STORAGE_BUCKET</key>
	<string>hoseo-neulbom.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1053554138271:ios:281dd0f4df29713d24d6aa</string>
</dict>
</plist>